@model MTG.Models.Deposito

@{
    ViewData["Title"] = "Nuevo Deposito";
}

<h2>Nuevo Deposito</h2>

@using (Html.BeginForm("JustCreate", "Deposito", FormMethod.Post))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DepositoId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
   

                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.DepositoId,
                         new
                         {
                             @class = "form-control",
                             @placeholder = "Ingrese Nombre",
                             @requried = "required"
                         }

                    )
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk">  </span></span>
                    </div>
                </th>
                <th>
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Nombre,
                         new
                         {
                             @class = "form-control",
                             @placeholder = "Descripcion",
                             @requried = "required"
                         }

                    )
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk">  </span></span>
                    </div>

                </th>

            </tr>
        </tbody>

        <tr>
            <td></td>
            <td>
                <input type="submit" value="Nuevo Deposito" />
            </td>
            <td></td>
        </tr>

    </table>

}
